.Banner {
    position: fixed;
    background:gray;
    width:100%;
    bottom:0;
    left: 0;
}

.Banner h3 {
    font-size:75px;
    margin: 0;
    line-height: 100px;

    transform:translateX(0%);
    animation: Banner 10s linear infinite;
}

/*Animatie 0% begint hij 100% eindigd hij*/
@keyframes Banner {
    0%   {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
